
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>    
<pre>

### 01) WAP to print “Hello World..!!”

In [3]:
print("Hello World");

Hello World

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [2]:
name = input("Enter Your Name: ")
print("Hello" , name , ", Welcome To Python Lab")

Enter Your Name:  Meet

Hello Meet , Welcome To Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [7]:

print("Enter Three Inputs: ")
a = int(input())
b= int(input())
c = int(input())
sum = a + b + c 
print("Sum: " ,sum)
average = sum / 3
print("Average: " ,average)

Enter Three Inputs:

 10
 20
 30

Sum:  60
Average:  20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [15]:

name = input("Enter Your Name: ")
age = int(input("Enter Your Age: "))
marks = float(input ("Enter Your Marks: "))

print("\nName:" , name , "Type:" , type(name))
print("Age:" , age , "Type:" , type(age))
print("Percentage:" , marks , "Type:" , type(marks))

Enter Your Name:  Meet
Enter Your Age:  19
Enter Your Marks:  92.5

Name: Meet Type: <class 'str'>
Age: 19 Type: <class 'int'>
Percentage: 92.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [18]:
print("Python", "Programming", "Basic",sep=" | ",end="###")

Python | Programming | Basic###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [22]:
value = input("Enter Any Word: ")
print("Value:",value)
print("Type: ",type(value))
print("Id: ",id(value))

Enter Ant Word:  Meet

Value: Meet
Type:  <class 'str'>
Id:  1782516880160

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [23]:
a = input("Enter tHe Value Of A: ")
print("Orignal Id: ",id(a))
a = 8
print("New Id: ",id(a))

Enter tHe Value Of A:  5

Orignal Id:  140729318872992
New Id:  140729318810760

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [26]:
print('''Welcome To Python
This Is Second Lab
Enjot Coding!''')

Welcome To Python
This Is Second Lab
Enjot Coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [115]:
print(f"{'Sr No':5} {'Name':^13} {'Subject':^10}{'Grade':^7}{'Percentage':<10} ")
print(f"{'1':>5} {'Nisha Patel':<13} {'Math':<10}{'A':^5}{'92':>11} ")
print(f"{'2':>5} {'Aarav Modi':<13} {'Science':<10}{'B+':^5}{'85':>11} ")
print(f"{'3':>5} {'Jiya Shah':<13} {'Math':<10}{'A+':^5}{'96':>11} ")

Sr No     Name       Subject   Grade Percentage
    1 Nisha Patel   Math        A           92
    2 Aarav Modi    Science    B+           85
    3 Jiya Shah     Math       A+           96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [62]:
Input = float(input("Input: "))
print(f"2 Decimals: {Input : .2f}")
print(f"3 Decimals: {Input : .3f}")

Input:  37.2567

2 Decimals:  37.26
3 Decimals:  37.257

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [39]:
print("Enter The 2 Numbers To Perform Operations: ")
Number = float(input())
Number2 = float(input())
sum = Number + Number
diff = Number - Number2
Product = Number * Number2
print(f"Sum = {sum} \nDifference = {diff} \nProduct: = {Product}")

Enter The 2 Numbers To Perform Operations:

 50
 60

Sum = 100.0
Difference = -10.0
Product: = 3000.0

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [53]:
dd,mm,yyyy = input("Enter The Date: ").split()
print(dd , mm,yyyy ,sep="/")
print(yyyy , mm,dd ,sep="-")

Enter The Date:  11 12 2025

11/12/2025
2025-12-11

### 13) WAP to calculate area and perimeter of a circle.

In [70]:
radius = float(input("Enter The Radius Of Circle: "))
areaCircle = 3.14 * radius * radius
print("Area Of Circle : ",areaCircle)
perimeterCircle = 2 * 3.14 * radius
print(f"Perimeter Of Circle: {perimeterCircle : .2f}")

Enter The Radius Of Circle:  10

Area Of Circle :  314.0
Perimeter Of Circle:  62.80

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [32]:
Celsius = float(input("Enter The Celsius To Calculalte Fahrenheit: "))
Fahrenheit = ((Celsius * 1.8) + 32)
print(Fahrenheit)
Fahrenheit2 = float(input("Enter The Fahrenheit To Calculalte Celsius: "))
Celsius2 = ((Fahrenheit - 32) * (5/9))
print(Celsius2)

Enter The Celsius To Calculalte Fahrenheit:  20

68.0

Enter The Fahrenheit To Calculalte Celsius:  68

20.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [2]:
distanceKl = int(input("Enter The Distance In KiioMeter: "))
meter = distanceKl * 1000
cm = distanceKl * 100000
inch = cm / 2.54
feet = cm / 30.48
print("Killometer: " , distanceKl , "\nMeter: ", meter , "\nCentiMeter" , cm , "\nInch: " , inch , "\nFeet: " , feet);

Enter The Distance In KiioMeter:  150

Killometer:  150
Meter:  150000
CentiMeter 15000000
Inch:  5905511.811023622
Feet:  492125.9842519685